{
   "presets": [
      ["preact-cli/babel", {
          "modules": false,
          "targets": "> 0.25%, not dead",
          "useBuiltIns": "usage"
      }]
  ],
  "compact": true,
  "plugins": [
    ["lodash", { "id": ["async-es"] }],
    ["transform-imports", {
      "lodash": {
        "transform": "lodash/${member}",
        "preventFullImport": true
      }
    }],
    "@babel/plugin-syntax-dynamic-import"
  ]
}
