**/img
**/img*
**/test
**/test*
**/*_test_*
**/.Rproj.user
**/.Rhistory
**/versions
**/*_cache
**/pandoc*
**/*Version*.*
**/test*.*
**/*.doc
**/*.docx
node_modules
**/node_modules/
**/wmslayers/
**/wmscache/
**/wfscache/
**/django-cache/
**/pdf
**/*.env
**/*.log
**/*.pem
**/*.key
**/*.cert
.vscode
**/*.lock
**/*.save
**/*.bak
**/*.swp
**/*~
**/*.zip
**/*.tgz
**/*.gz
**/*.tar
**/*.bak*
**/*.*bak*
**/*.bak.*
**/*.bak/
**/bak
**/temp
**/tmp
**/*.pdf
**/*.png
**/*.jpg
**/*.jpeg
**/*.PNG
**/*.GTiff
**/*.tiff
**/*.tif
**/*.gif
**/*.kml
**/*.xml
**/*.html.*
**/*1a.html
**/*1b.html
**/*bak.html
**/*old*.html
**/*.pyc
**/*.py.*
**/*.js.*
**/*.nc
**/*.sql
**/*.dot
**/*.svg
**/*.asvp
**/.cache
**/cache
**/__pycache__
**/data/
**/podaac
static/cmd/js/
static/cmd/bootstrap*/
static/admin/
static/cmd/font*/
**/dist
**/dist_*
.Rproj.user
