!client/src/assets/
!client/src/assets/*/*.png
!client/src/assets/*/*.svg
!client/src/assets/*/*.jpg
**/build
**/ver_bak
**/img
**/img*
**/test
**/test*
**/*_test_*
**/.Rproj.user
**/.Rhistory
**/versions
**/*_cache
**/pandoc*
**/*Version*.*
**/test*.*
**/*.doc
**/*.docx
node_modules
**/node_modules/
**/wmslayers/
**/wmscache/
**/wfscache/
**/django-cache/
**/pdf
**/*.env
**/*.log
**/*.pem
**/*.key
**/*.cert
.vscode
**/*.lock
**/*.save
**/*.bak
**/*.swp
**/*~
**/*_zip
**/*.zip
**/*.tgz
**/*.gz
**/*.tar
**/*.bak*
**/*.*bak*
**/*.bak.*
**/*.bak/
**/bak
**/temp
**/tmp
**/*.pdf
**/*.png
!client/src/assets/*/*.png
**/*.jpg
!client/src/assets/*/*.jpg
**/*.jpeg
!client/src/assets/*/*.jpeg
**/*.PNG
!client/src/assets/*/*.PNG
**/*.GTiff
**/*.tiff
**/*.tif
**/*.gif
!client/src/assets/*/*.gif
**/*.kml
**/*.xml
**/*.html.*
**/*1a.html
**/*1b.html
**/*bak.html
**/*old*.html
**/*.pyc
**/*.py.*
**/*.js.*
**/*.nc
**/*.sql
**/*.dot
**/*.svg
!client/src/assets/*/*.svg
**/*.asvp
**/.cache
**/cache
**/__pycache__
**/data/
**/podaac
static/cmd/js/
static/cmd/bootstrap*/
static/admin/
static/cmd/font*/
**/dist
**/dist_*
**/web_tmp.txt
.Rproj.user
client/src/template.html
doc/new*_htm_extract.csv
doc/new*_fig_extract.csv
doc/New*.docx
doc/img
doc/img2