.helpbox {
  border: 1px #999 solid;
  borderRadius: 10px;
}

.column-right {
  padding: 1rem;
  display: inline-block;
  color: white;
  border-radius: 8px;
  background: linear-gradient(135deg, rgba(7,42,126,1) 0%, rgba(6,31,107,0.55) 100%)
}

