.carousel__track {justify-content: flex-start !important;}
.carousel__slide {width: var(--carousel-slide-width,35%) !important;}
.carousel {
  color: #32325d;
  --carousel-button-bg: #d3d3d3;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
    0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;

  --carousel-button-svg-stroke-width: 2.5;
}
