.kblk {
  display: block;
  clear: left;
}
.leader {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  width: 97.5%;
  padding-right: 0;
  vertical-align: baseline; 
  position: relative;
  overflow: hidden;
  z-index: 0;
  list-style: none;
  clear: left;
}

.doc_title {
  font-size: 1.2rem;
  margin-top: 4.2rem;
  color: #004481; 
  width:auto;
}

.doc_epithets {
  font-size:1em;
  width:auto;
  line-height: 1.4rem;
}

.fig_title {
  margin: 4rem 0 2rem 0;
  text-align: center;
}

.fig_caption, .fig_cite { margin-top: 0.75rem; }

.carousel_div {
  display: table;
  text-align: center;
  span {
    display: flex;
    justify-content: center;
    width: 80%;
  }
}

@media screen and (max-width: 680px) { 
  h1.title { margin-top: 1rem; font-size: 1.6rem; }
  h3.subtitle { font-size: 1.2rem; }
  h4.author, .date { font-size: 1rem; }
  .menutxt { display: none; } 
  .doc_epithets { width: auto; font-size: 1em;}
}
@media screen and (max-width: 540px) {
  .doc_epithets, .fig_caption { font-size: 0.9em;}
  .leader { font-size: 1.1rem; }
  .carousel_div {
    span { 
      font-size: 0.8em;
      display: flex;
      justify-content: flex-start;
    }
  }
} 

.leader > span:first-child::after, .leader > span:nth-child(2):before {
  position: absolute;
  background-color: #fffff8;
  z-index: -1;
  letter-spacing: 0.25em;
  cursor: default;
  content:  
 ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}
.leader > span:last-child {
  float: right;
  background-color: #fffff8;
  text-align: right;
  left:0;
  margin-left:1em;
  text-indent:0;
}

.indent2 {
  padding-left:2em;
  text-indent:-2em;
}
.indent2 > span:first-child:after, .indent2 > span:nth-child(2):before {
  padding-left:2em;
  text-indent:-2em;
}

.indent3 {
  padding-left:3em;
  text-indent:-3em;
}
.indent3 > span:first-child:after, .indent3 > span:nth-child(2):before {
  padding-left:3em;
  text-indent:-3em;
}

.indent4 {
  padding-left:4em;
  text-indent:-4em;
}
.indent4 > span:first-child:after, .indent4 > span:nth-child(2):before {
  padding-left:4em;
  text-indent:-4em;
}

/* change from margin note */
.spnote { float: right;
          clear: right;
          margin-right: -5%;
          width: 95%;
          margin-top: 0;
          bottom: 1px;
          font-size: 1.0rem;
          line-height: 1.3;
          vertical-align: baseline;
          position: absolute;
}

.pad1 {
  padding-left: 0.75em
}
.pad2 {
  padding-left: 1em
}
.pad3 {
  padding-left: 1.5em
}
.pad4 {
  padding-left: 2em
}
.pad5 {
  padding-left: 2.5em
}
.pad6 {
  padding-left: 3em
}
.pad7 {
  padding-left: 3.5em
}
.pad8 {
  padding-left: 4em
}
.lxtop {
  margin-bottom: 0;
}
.lxbot {
  margin-top: 0;
}

#easyPaginate {width:100%;}
#easyPaginate img {display:block;margin-bottom:10px;}
.easyPaginateNav {margin-left:0.5%;}
.easyPaginateNav a {padding:7px;line-height: 1.8rem; font-size: 1.2rem;}
.easyPaginateNav .current {font-weight:bold;text-decoration:underline;}

.keycol{text-align:left;}
li {
  display: inline-block;
  list-style-type : none; 
}

mark {
  background-color: transparent;
  color: darkblue;
}
