.helpContainer.notshown{
  display: none;
  z-index:-1;
}
.helpContainer{
  display: flex;
  overflow: hidden;
  margin-left: 5px;
  flex-flow: column-reverse wrap;
}

.helpToggle {
    top: 10px;
    right: 20px;
    position:absolute;
    padding: 5px 5px 5px 5px;
    z-index: 1003;
    max-width: 100px;
    max-height: 60px;
}

.helpButn {
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 12px 6px;
    background: transparent;
    line-height: 1;

  &:hover {
    background-color:silver;
    color:slategrey;
    text-decoration:none;
  }
  &:before {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 2em;
   height: 2em;
   background: url('../../assets/icons/icon_get-helpx96s.png');
   background-size: 100% auto;
  }
}

@media screen and (max-width: 680px) {
  .helpToggle { right:0px; }
}
